@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: rgb(170,143,149);
    background: -moz-linear-gradient(132deg, rgba(170,143,149,1) 0%, rgba(171,95,134,1) 100%);
    background: -webkit-linear-gradient(132deg, rgba(170,143,149,1) 0%, rgba(171,95,134,1) 100%);
    background: linear-gradient(132deg, rgba(170,143,149,1) 0%, rgba(171,95,134,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aa8f95",endColorstr="#ab5f86",GradientType=1);
    height: auto;
    width: 100vw;
 
}
@media only screen and (min-width: 800px) {

  html,
  body {
    height: 100vh;
  }
}

hr {
 width: 80%;
 height: 0.5px;
  background-color: rgba(57, 46, 46, 0);
  border-color: rgba(0, 0, 0, 0);
}


#navBar{
  font-family: 'Playfair Display', serif;
}
#menu{
  font-family: 'Playfair Display', serif;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: rgb(131, 53, 72);
 
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(71, 29, 39);
}
::-webkit-scrollbar-track {
  background: rgba(90, 50, 93, 0.7);
 
}
::-webkit-scrollbar {
  width: 0.4rem;
  height: 100%;
}
