---
const { align = "center" } = Astro.props;
---

<div class:list={[align === "center" && "text-center"]}>
  <h1
    class="text-3xl font-semibold tracking-tight text-center lg:leading-snug text-brand-primary lg:text-4xl text-pink-900">
    <slot name="title"></slot>
  </h1>
  <p class="text-lg mt-3 text-pink-900">
    <slot name="desc"></slot>
  </p>
</div>
